apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubeconfig.cluster_ca_data }}
    server: https://{{ kubeconfig.cluster_server }}
  name: k3s-cluster
contexts:
- context:
    cluster: k3s-cluster
    user: k3s-user
  name: k3s-context
current-context: k3s-context
kind: Config
preferences: {}
users:
- name: k3s-user
  user:
    token: {{ kubeconfig.token }}
